 <link rel="stylesheet" href="public/css/intro.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
<body>
 <main>
      <div class="container">
        <img src="public/assets/board.png" alt="illustration" />
        <div class="text">
          <h1 class="heading">Where Work Happens</h1>
          <p class="description">
            When your team needs to kick off a project, hire a new employee, deploy some code, review a sales contract,
            finalize next year's budget, measure an A/B test, plan your next office opening, and more, Slack has you
            covered.
          </p>
          <div class="button-container">
            <a id="Login" href="/signup"><button>GET STARTED</button></a>
            <span class="sub-text">Already using Slack? <a id="Login" href="/login"> <span class="cta">Sign in</span></a></span>
          </div>
        </div>
      </div>
    </main>
</body>
{{!-- <h1>Introduction</h1>
<p>Introduction</p>

<a id="Login" href="/login">Login</a> --}}