{{!-- <main>
    <h1>Sign-up</h1>
    <form method="POST" id="signup-form" action="signup">
        <label for="username">
            Username
            <input type="text" name="username" id="username" required />
        </label><br />
        <label for="password">
            Password
            <input type="password" name="password" id="password" required />
        </label><br />
        <button type="submit">Signup</button>
    </form>
    {{#if hasErrors}}
        <p>{{error}}</p>
    {{/if}}

    <a href="/">Already have an account? Click here to log-in</a>
</main> --}}

<body>
    <div class="container">
        <main class="login-container">
            <p class="text-mute">START FOR FREE</p>
            <h1 class="heading-primary">Create new account<span class="custom-dot">.</span></h1>
            <p class="text-mute">Already A Member? <a href="/login">Log in</a></p>
            <form class="login-form" method="POST" id="login-form" action="signup">
                <div class="f-row input-wrapper">
                    <label class="inp">
                        <input type="text" class="input-text" placeholder="&nbsp;" name="fName" id="fName" required />
                        <span class="label">First name</span>
                        <span class="input-icon"><i class="fa-solid fa-address-card"></i></span>
                    </label>
                    <label class="inp">
                        <input type="text" class="input-text" placeholder="&nbsp;" name="lName" id="lName" required />
                        <span class="label">Last name</span>
                        <span class="input-icon"><i class="fa-solid fa-address-card"></i></span>
                    </label>
                </div>
                <label class="inp">
                    <input type="email" class="input-text" placeholder="&nbsp;" id="email" name="email" required />
                    <span class="label">Email</span>
                    <span class="input-icon"><i class="fa-solid fa-envelope"></i></span>
                </label>
                <label class="inp">
                    <input type="text" class="input-text" placeholder="&nbsp;" name="username" id="username" required />
                    <span class="label">Username</span>
                    <span class="input-icon"><i class="fa-solid fa-user"></i></span>
                </label>
                <label class="inp">
                    <input type="password" class="input-text" placeholder="&nbsp;" name="password" id="password" required />
                    <span class="label">Password</span>
                    <span class="input-icon input-icon-password" data-password><i class="fa-solid fa-eye"></i></span>
                </label>
                <button class="btn btn-login">Create account</button>
            </form>
            {{#if hasErrors}}
                <p>{{error}}</p>
            {{/if}}
        </main>
        <div class="welcome-container">
            <h1 class="heading-secondary">Welcome to <span class="lg">Boom Video Chat!</span></h1>
        </div>
    </div>
    <script>
        const eyeClick = document.querySelector("[data-password]"); const password_elem = document.getElementById("password"); eyeClick.onclick = () => { const icon = eyeClick.children[0];
        icon.classList.toggle("fa-eye-slash"); if (password_elem.type === "password") { password_elem.type = "text"; } else if (password_elem.type === "text") { password_elem.type = "password"; } };
    </script>
</body>