<body>
    <h1><img src="https://static.vecteezy.com/system/resources/previews/000/414/528/non_2x/boom-vector.jpg" alt="Boom" width="200" height="80"></h1>
    <h1><form method="get" action="/login"
            style="border: 0ch; margin-top: -50px;" >
        <button class="button1" >Log in</button>
        </form></h1>
    <h1>
        <form method="get" action="/signup"
            style="border: 0ch;">
        <button class="button1" >Sign up</button>    
        </form></h1>
</body>
<p>About what our website does and about how its helpful</p>
