<p>About what our website does and about how its helpful</p>

<form method="get" action="/login"
    style="border: 0ch;">
    <button class="button1">Log in</button>
</form>

<form method="get" action="/signup"
    style="border: 0ch;">
    <button class="button1" >Sign up</button>    
</form>
